* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    padding: 10px;
    background: #121212;
}

.wrapper {
    background: #212121;
    max-width: 600px;
    width: 100%;
    margin: 150px auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
}

.wrapper header {
    margin-top: 35px;
    font-size: 60px;
    font-weight: 600;
    color: #D67700;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.wrapper input {
    display: flex;
    margin: 30px auto 25px;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.5) inset;
}

.input-box input {
    outline: none;
    border-radius: 15px;
    border: 1px solid #fff;
    font-size: 20px;
    transition: all 0.3s ease;
    padding-left: 25px;
}

.wrapper .output-list {
    max-height: 450px;
    overflow-y: auto;
}

.output-list div {
    font-size: 20px;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    margin-bottom: 25px;
    background: #f2f2f2;
    border-radius: 15px;
    padding: 0 25px;
    overflow: hidden;
}

.output-list div span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -55px;
    background: #D67700;
    width: 55px;
    height: 50px;
    color: #fff;
    transition: all 0.2s ease;
    box-shadow: 0 0 50px 5px rgba(0,0,0,0.2);
}

.output-list div:hover span {
    right: 0;
}

.output-list span:hover {
    background: #b22222;
}

.output-list span:active {
    background: #8b0000;
}
